<%- contentFor('title') %>
<%= usuario %>

<%- contentFor('header') %>


<%- contentFor('body') %>
<h1>Bem-vindo(a) ao <span class="teal-text">Seu Blog - <%= usuario %></span></h1>

<div id="conteudo">
    <% if (posts != null) posts.forEach(function(post) { %>
        <%= post %>
    <% }) %>
    <% if (typeof logged != 'undefined' && logged) { %>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nova postagem</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Nova Postagem</h4>
            <form action="posts" method="post">
                <div class="input-field">
                    <textarea name="postagem" id="postagem" cols="30" rows="10"></textarea>
                    <label for="postagem">Digite aqui o que está pensando:</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn waves-effect waves-green btn-flat">Postar</button>
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
        </div>
    </div>
    <% } %>
</div>

<%- contentFor('footer') %>