<%- contentFor('title') %>
<%= usuario %>

<%- contentFor('header') %>


<%- contentFor('body') %>
<h1>Bem-vindo(a) ao <span class="teal-text">Seu Blog - <%= usuario %>
</span></h1>

<%- contentFor('footer') %>
