<%- contentFor('title') %>
    Home

    <%- contentFor('header') %>
        <% if (typeof mensagem !== 'undefined') { %>
            <div class="alert alert-success">
                <%= mensagem %>
            </div>
            <% } %>

                <% if (typeof erro !== 'undefined') { %>
                    <div class="alert alert-danger">
                        <%= erro %>
                    </div>
                    <% } %>


                        <%- contentFor('body') %>
                            <h1>Bem-vindo(a) ao <span class="text-info">Seu Blog</span></h1>

                            <%- contentFor('footer') %>